.container_ad{
    padding-top: var(--header-height);
    .row{
        margin:0;
    }
    .grid.wide{
        max-width: 100%;
    }
}

.ad_page-category{
    text-align: center;
    padding: 20px 10px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    .ad_category-img{
        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 2px solid var(--primary-color);
            margin: 10px;
            object-fit: cover;
        }
    }
    .ad_category-name{
        font-size: 2rem;
        font-weight: 600;
    }
    .ad_page-category-content{
        border-top: 2px solid var(--border-color);
        margin-top: 40px;
        padding: 20px 0;
        li{
            font-size: 2rem;
            padding: 20px;
            font-weight: 600;
            &:hover{
                background-color: var(--hover-color);
            }
        }
    }
    .ad-checked{
        background-color: var(--hover-color);
    }
}

.ad_page-content{
    font-size: var(--font-size);
    padding: 20px 20px 100px;
    .content-title{
        font-size: 2rem;
        padding: 10px;
        display: flex;
        margin: 20px 0;
        a {
             &:hover{
                text-decoration: underline;
             }
        }
        .ad-content-title-checked{
            font-size: 2.5rem;
            font-weight: 600;
        }
    }
    .item-total{
        font-size: 2rem;
        padding: 10px;
        display: flex;
        align-items: center;
        .number{
            padding: 10px;
            background-color: var(--primary-color);
            color: var(--white-color);
            margin-left: 10px;
            border-radius: 10px;
        }
    }
    table,th,td{
        border: 1px solid var(--border-color);
	    border-collapse: collapse;
    }
    table{
        width: 100%;
        font-size: var(--font-size);
        th{
            background-color: var(--hover-color);
            white-space: nowrap;
        }
        a{
            text-align: center;
        }
        .action-edit{
            background-color: rgb(0, 115, 255);
            color: white;
            padding: 10px;
            border-radius: 10px;
        }
        .action-delete{
            background-color: rgb(229, 87, 85);
            color: white;
            padding: 10px;
            border-radius: 10px;
        }
        .action-edit,.action-delete{
            &:hover{
                opacity: 0.7;
            }
            a{
                text-wrap: nowrap;
            }
        }
        .item-img{
            width: 50px;
        }
        .item-image-name{
            text-align: left;
            align-items: center;
            .item-img-name_box{
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }
    
    th,td{
        padding: 10px;
        text-align: center;
    }

    .item-course{
        display: none;
    }
    .bar-page {
        margin-right: 10px;
        margin-top: 10px;
    }
}
.warning-delete-box-background{
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    .warning-delete-box{
        width: 50%;
        background-color: var(--white-color);
        padding: 10px;
        .item-img{
            width: 50px;
        }
        .warning-delete-title{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--border-color);
            h2{
                padding: 10px 5px;
                font-size: 2rem;
            }
            .warning-delete-box-close{
                padding: 10px;
                font-size: 2rem;
                &:hover{
                    cursor: pointer;
                    background-color: var(--hover-color);
                }
            }
        }
        .warning-delete-content{
            padding: 10px 5px;
            font-size: 1.5rem;
        }
        .warning-delete-content-item{
            display: flex;
            align-items: center;
            padding: 10px 0;
            gap: 10px;
            .delete-content-item-color{
                width: 20px;
                height: 20px;
            }
        }
        .warning-delete-action{
            float: right;
            display: flex;
            gap: 10px;
            padding-left: 20px;
            .warning-delete-cancel,
            .warning-delete-sure{
                width: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                font-size: 1.5rem;
            }
            .warning-delete-cancel{
                border: 1px solid var(--black-color);
                &:hover{
                    background-color: var(--hover-color);
                    cursor: pointer;
                }
            }
            .warning-delete-sure{
                background-color: var(--primary-color);
                color: white;
                &:hover{
                    background-color: var(--primary-color-hover);
                    cursor: pointer;
                }
            }
        }
    }
}

// product-edit page

.ad-product-edit-text{
    padding:0 10px ;
    margin: 50px 0 ;
    font-size: 1.5rem;
    input{
        width: 100%;
        margin: 5px 0 10px;
    }
    label{
        font-weight: 600;
    }
}
.ad-product-edit-colorImg{
    font-size: 1.5rem;
    padding:0 10px ;
    margin: 50px 0 ;
    label{
        font-weight: 600;
    }
    .ad-product-edit-color{
        .color-push-box{
            margin: 20px 0;
            .color-push{
                font-size: 1.5rem;
                color: white;
                background-color: rgb(0, 123, 255);
                padding: 10px;
                border-radius: 10px;
                display: inline-block;
                &:hover{
                    cursor: pointer;
                    background-color: rgba(0, 123, 255, 0.838);
                }
            }
        }
        .color-list{
            display: flex;
            gap: 10px;
            .colorSelected{
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }
        }
        .item-color-list{
            padding: 10px 0;
            border-bottom: 1px solid var(--border-color);
            .itemColorImg-box{
                display: flex;
                align-items: center;
                gap:10px;
            }
            .item-color-box{
                display: flex;
                gap:10px;
                .colorSelected{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }
            }
            .item-colorImg-box{
                display: flex;
                gap: 5px;
                .item-colorImg{
                    width: 50px;
                }
                .item-colorImg-agree,.image-upload-label{
                    font-size: 1.5rem;
                    color: white;
                    background-color: rgb(0, 123, 255);
                    padding: 10px;
                    border-radius: 10px;
                    display: inline-block;
                    &:hover{
                        cursor: pointer;
                        background-color: rgba(0, 123, 255, 0.838);
                    }
                }
            }
            .item-colorImg-remove{
                background-color: rgb(229, 87, 85);
                color: white;
                padding: 10px;
                border-radius: 10px;
                font-size: 1.5rem;
                display: inline-block;
                &:hover{
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
            .item-colorImg-size{
                width: 100px;
            }
            .itemColorImgSize-box{
                div{
                    margin: 10px 10px;
                }
                .item-colorImg-size-list{
                    margin: 0;
                    label{
                        margin:0 10px;
                    }
                    .item-colorImgSize-Delete{
                        background-color: rgb(229, 87, 85);
                        color: white;
                        padding: 10px;
                        border-radius: 10px;
                        font-size: 1.5rem;
                        display: inline-block;
                        &:hover{
                            opacity: 0.7;
                            cursor: pointer;
                        }
                    }
                }
                .item-colorImgSize-add{
                    font-size: 1.5rem;
                    color: white;
                    background-color: rgb(0, 123, 255);
                    padding: 10px;
                    border-radius: 10px;
                    display: inline-block;
                    &:hover{
                        cursor: pointer;
                        background-color: rgba(0, 123, 255, 0.838);
                    }
                }
                
            }
        }
    }
}

//  USERS-PAGE -----------------------------------
.user-nameImg{
    display: flex;
    align-items: center;
    gap: 10px;
    .user-img{
        img{
            width: 50px;
        }
    }
}
.user_info-img{
    .material-symbols-rounded{
        font-size: 1.5rem;
        color: white;
        background-color: var(--primary-color);
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        &:hover{
            background-color: var(--primary-color-hover)
        }
    }
}
.user_infor{
    margin: 20px 0;
    label{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .user_infor-text{
        label{
            width: 100px;
            display: inline-block;
        }
    }
    div{
        margin-bottom: 20px;
    }
    input{
        font-size: 1.5rem;
        padding: 5px;
    }
    .user_info-img {
        .user_avatar{
            margin: 20px 10px;
        }
        .user_info-img-label{
            margin: 20px 0;
            display: block;
        }
    }
}

/* Order Detail Page */
.order-page-info__table{
    border-collapse: collapse;
    .order-user {
        justify-content: center;
        display: flex;
        align-items: center;
        gap: 10px;
        img{
            width: 50px;
        }
    }
    .order-detail-info{
        display: flex;
        max-width: 400px;
        margin: 10px;
        padding: 10px 0;
        &:not(:last-child){
            border-bottom: 1px solid var(--border-color);
        }
        img{
            width: 50px;
            margin-right: 10px;
        }
    }
    .order-page-info__action{
        div,.order-delete{
            width: 80px;
            padding: 10px;
            margin: 10px;
            border-radius: 10px;
            &:hover{
                cursor: pointer;
                opacity: 0.7;
            }
            
        }
        .order-check{
            background-color: var(--hover-color);
        }
        .order-edit{
            background-color: rgb(0, 115, 255);
            color: white;
        }
        .order-delete{
            border: none;
            background-color: rgb(229, 87, 85);
            color: white;
        }
    }

}
.user-profile__content{
    padding-left: 12px;
}
.order-page-info__number{
    margin-bottom: 20px;
    font-size: 2rem;
    line-height: 4rem;
    border-top: 1px solid var(--border-color);
    padding:20px 0;
    margin: 0;
}
.order-page-info__number div:nth-child(1){
    border-right: 1px solid var(--border-color);
}
.order-page-info__number div{
   text-align: center;
}
.order-page-return{
    margin: 0;
}
.order-page-return a{
    padding:10px;
}
.order-page-return a:hover{
    background-color: var(--hover-color);
}
.order-page-info__number div span{
    font-weight: 600;
}
.order-page-info__action{
    float: right;
    margin-bottom: 20px;
}
.order-page-info__action div{
    padding:10px;
    margin-left: 10px;
    cursor: pointer;
    background-color: var(--hover-color);
}
.order-page-info__action div:hover{
    background-color: var(--hover-color1);
}
.order-page-info__action .order-review{
    background-color: var(--black-color);
    color: white;
}
.order-page-info__action .order-review:hover{
    text-decoration: underline;
    color: black;
}
.order-page-info__table{
    border-collapse: collapse;
}
.order-page-info__table th{
    text-wrap: nowrap;
    background-color: var(--hover-color);
}
.order-page-info__table .order-item__info--data{
    display: flex;
    padding: 10px;
    border-top: none;
    border-right: none;
    &:last-child{
        border-bottom: none;
    }
}
.order-item--action{
    color: var(--primary-color);
    cursor: pointer;
}
.order-item--action a:hover{
    text-decoration: underline;
}
.order-page-info__total{
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 20px;
    padding: 10px;
}
.order-page-info__total>div{
    width: 30%;
    border-bottom: 1px solid var(--border-color);
}
.order-page-info__total>div>div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
.order-page-info__item--total{
    font-weight: 600;
}
.order-page-info__tracking{
    margin-top: 20px;
}
.order-page-info__tracking--title{
    font-size: 2rem;
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 10px;
}
.order-page-info__tracking--item div{
    margin-bottom: 10px;

}

/* Order Detail Page */
.order-item--img img{
    width: 50px;
    margin-right: 10px;
}
.order-page-info__tracking--button{
    margin-top: 30px;
    display: grid;
    place-items: center;
    height: 50px;
    min-height: 50px;
    color:var(--white-color);
    border-radius: 20px;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    font-weight: 600;
    &:hover{
        opacity: .8;
    }
}
