.container_ad {
  padding-top: var(--header-height);
}
.container_ad .row {
  margin: 0;
}
.container_ad .grid.wide {
  max-width: 100%;
}

.ad_page-category {
  text-align: center;
  padding: 20px 10px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
.ad_page-category .ad_category-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  margin: 10px;
  object-fit: cover;
}
.ad_page-category .ad_category-name {
  font-size: 2rem;
  font-weight: 600;
}
.ad_page-category .ad_page-category-content {
  border-top: 2px solid var(--border-color);
  margin-top: 40px;
  padding: 20px 0;
}
.ad_page-category .ad_page-category-content li {
  font-size: 2rem;
  padding: 20px;
  font-weight: 600;
}
.ad_page-category .ad_page-category-content li:hover {
  background-color: var(--hover-color);
}
.ad_page-category .ad-checked {
  background-color: var(--hover-color);
}

.ad_page-content {
  font-size: var(--font-size);
  padding: 20px 20px 100px;
}
.ad_page-content .content-title {
  font-size: 2rem;
  padding: 10px;
  display: flex;
  margin: 20px 0;
}
.ad_page-content .content-title a:hover {
  text-decoration: underline;
}
.ad_page-content .content-title .ad-content-title-checked {
  font-size: 2.5rem;
  font-weight: 600;
}
.ad_page-content .item-total {
  font-size: 2rem;
  padding: 10px;
  display: flex;
  align-items: center;
}
.ad_page-content .item-total .number {
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--white-color);
  margin-left: 10px;
  border-radius: 10px;
}
.ad_page-content table, .ad_page-content th, .ad_page-content td {
  border: 1px solid var(--border-color);
  border-collapse: collapse;
}
.ad_page-content table {
  width: 100%;
  font-size: var(--font-size);
}
.ad_page-content table th {
  background-color: var(--hover-color);
  white-space: nowrap;
}
.ad_page-content table a {
  text-align: center;
}
.ad_page-content table .action-edit {
  background-color: rgb(0, 115, 255);
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.ad_page-content table .action-delete {
  background-color: rgb(229, 87, 85);
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.ad_page-content table .action-edit:hover, .ad_page-content table .action-delete:hover {
  opacity: 0.7;
}
.ad_page-content table .action-edit a, .ad_page-content table .action-delete a {
  text-wrap: nowrap;
}
.ad_page-content table .item-img {
  width: 50px;
}
.ad_page-content table .item-image-name {
  text-align: left;
  align-items: center;
}
.ad_page-content table .item-image-name .item-img-name_box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.ad_page-content th, .ad_page-content td {
  padding: 10px;
  text-align: center;
}
.ad_page-content .item-course {
  display: none;
}
.ad_page-content .bar-page {
  margin-right: 10px;
  margin-top: 10px;
}

.warning-delete-box-background {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}
.warning-delete-box-background .warning-delete-box {
  width: 50%;
  background-color: var(--white-color);
  padding: 10px;
}
.warning-delete-box-background .warning-delete-box .item-img {
  width: 50px;
}
.warning-delete-box-background .warning-delete-box .warning-delete-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}
.warning-delete-box-background .warning-delete-box .warning-delete-title h2 {
  padding: 10px 5px;
  font-size: 2rem;
}
.warning-delete-box-background .warning-delete-box .warning-delete-title .warning-delete-box-close {
  padding: 10px;
  font-size: 2rem;
}
.warning-delete-box-background .warning-delete-box .warning-delete-title .warning-delete-box-close:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}
.warning-delete-box-background .warning-delete-box .warning-delete-content {
  padding: 10px 5px;
  font-size: 1.5rem;
}
.warning-delete-box-background .warning-delete-box .warning-delete-content-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
}
.warning-delete-box-background .warning-delete-box .warning-delete-content-item .delete-content-item-color {
  width: 20px;
  height: 20px;
}
.warning-delete-box-background .warning-delete-box .warning-delete-action {
  float: right;
  display: flex;
  gap: 10px;
  padding-left: 20px;
}
.warning-delete-box-background .warning-delete-box .warning-delete-action .warning-delete-cancel,
.warning-delete-box-background .warning-delete-box .warning-delete-action .warning-delete-sure {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 1.5rem;
}
.warning-delete-box-background .warning-delete-box .warning-delete-action .warning-delete-cancel {
  border: 1px solid var(--black-color);
}
.warning-delete-box-background .warning-delete-box .warning-delete-action .warning-delete-cancel:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}
.warning-delete-box-background .warning-delete-box .warning-delete-action .warning-delete-sure {
  background-color: var(--primary-color);
  color: white;
}
.warning-delete-box-background .warning-delete-box .warning-delete-action .warning-delete-sure:hover {
  background-color: var(--primary-color-hover);
  cursor: pointer;
}

.ad-product-edit-text {
  padding: 0 10px;
  margin: 50px 0;
  font-size: 1.5rem;
}
.ad-product-edit-text input {
  width: 100%;
  margin: 5px 0 10px;
}
.ad-product-edit-text label {
  font-weight: 600;
}

.ad-product-edit-colorImg {
  font-size: 1.5rem;
  padding: 0 10px;
  margin: 50px 0;
}
.ad-product-edit-colorImg label {
  font-weight: 600;
}
.ad-product-edit-colorImg .ad-product-edit-color .color-push-box {
  margin: 20px 0;
}
.ad-product-edit-colorImg .ad-product-edit-color .color-push-box .color-push {
  font-size: 1.5rem;
  color: white;
  background-color: rgb(0, 123, 255);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}
.ad-product-edit-colorImg .ad-product-edit-color .color-push-box .color-push:hover {
  cursor: pointer;
  background-color: rgba(0, 123, 255, 0.838);
}
.ad-product-edit-colorImg .ad-product-edit-color .color-list {
  display: flex;
  gap: 10px;
}
.ad-product-edit-colorImg .ad-product-edit-color .color-list .colorSelected {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.ad-product-edit-colorImg .ad-product-edit-color .item-color-list {
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
}
.ad-product-edit-colorImg .ad-product-edit-color .item-color-list .itemColorImg-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ad-product-edit-colorImg .ad-product-edit-color .item-color-list .item-color-box {
  display: flex;
  gap: 10px;
}
.ad-product-edit-colorImg .ad-product-edit-color .item-color-list .item-color-box .colorSelected {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.ad-product-edit-colorImg .ad-product-edit-color .item-color-list .item-colorImg-box {
  display: flex;
  gap: 5px;
}
.ad-product-edit-colorImg .ad-product-edit-color .item-color-list .item-colorImg-box .item-colorImg {
  width: 50px;
}
.ad-product-edit-colorImg .ad-product-edit-color .item-color-list .item-colorImg-box .item-colorImg-agree, .ad-product-edit-colorImg .ad-product-edit-color .item-color-list .item-colorImg-box .image-upload-label {
  font-size: 1.5rem;
  color: white;
  background-color: rgb(0, 123, 255);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}
.ad-product-edit-colorImg .ad-product-edit-color .item-color-list .item-colorImg-box .item-colorImg-agree:hover, .ad-product-edit-colorImg .ad-product-edit-color .item-color-list .item-colorImg-box .image-upload-label:hover {
  cursor: pointer;
  background-color: rgba(0, 123, 255, 0.838);
}
.ad-product-edit-colorImg .ad-product-edit-color .item-color-list .item-colorImg-remove {
  background-color: rgb(229, 87, 85);
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5rem;
  display: inline-block;
}
.ad-product-edit-colorImg .ad-product-edit-color .item-color-list .item-colorImg-remove:hover {
  opacity: 0.7;
  cursor: pointer;
}
.ad-product-edit-colorImg .ad-product-edit-color .item-color-list .item-colorImg-size {
  width: 100px;
}
.ad-product-edit-colorImg .ad-product-edit-color .item-color-list .itemColorImgSize-box div {
  margin: 10px 10px;
}
.ad-product-edit-colorImg .ad-product-edit-color .item-color-list .itemColorImgSize-box .item-colorImg-size-list {
  margin: 0;
}
.ad-product-edit-colorImg .ad-product-edit-color .item-color-list .itemColorImgSize-box .item-colorImg-size-list label {
  margin: 0 10px;
}
.ad-product-edit-colorImg .ad-product-edit-color .item-color-list .itemColorImgSize-box .item-colorImg-size-list .item-colorImgSize-Delete {
  background-color: rgb(229, 87, 85);
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5rem;
  display: inline-block;
}
.ad-product-edit-colorImg .ad-product-edit-color .item-color-list .itemColorImgSize-box .item-colorImg-size-list .item-colorImgSize-Delete:hover {
  opacity: 0.7;
  cursor: pointer;
}
.ad-product-edit-colorImg .ad-product-edit-color .item-color-list .itemColorImgSize-box .item-colorImgSize-add {
  font-size: 1.5rem;
  color: white;
  background-color: rgb(0, 123, 255);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}
.ad-product-edit-colorImg .ad-product-edit-color .item-color-list .itemColorImgSize-box .item-colorImgSize-add:hover {
  cursor: pointer;
  background-color: rgba(0, 123, 255, 0.838);
}

.user-nameImg {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-nameImg .user-img img {
  width: 50px;
}

.user_info-img .material-symbols-rounded {
  font-size: 1.5rem;
  color: white;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.user_info-img .material-symbols-rounded:hover {
  background-color: var(--primary-color-hover);
}

.user_infor {
  margin: 20px 0;
}
.user_infor label {
  font-size: 1.5rem;
  font-weight: 600;
}
.user_infor .user_infor-text label {
  width: 100px;
  display: inline-block;
}
.user_infor div {
  margin-bottom: 20px;
}
.user_infor input {
  font-size: 1.5rem;
  padding: 5px;
}
.user_infor .user_info-img .user_avatar {
  margin: 20px 10px;
}
.user_infor .user_info-img .user_info-img-label {
  margin: 20px 0;
  display: block;
}

/* Order Detail Page */
.order-page-info__table {
  border-collapse: collapse;
}
.order-page-info__table .order-user {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;
}
.order-page-info__table .order-user img {
  width: 50px;
}
.order-page-info__table .order-detail-info {
  display: flex;
  max-width: 400px;
  margin: 10px;
  padding: 10px 0;
}
.order-page-info__table .order-detail-info:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}
.order-page-info__table .order-detail-info img {
  width: 50px;
  margin-right: 10px;
}
.order-page-info__table .order-page-info__action div, .order-page-info__table .order-page-info__action .order-delete {
  width: 80px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.order-page-info__table .order-page-info__action div:hover, .order-page-info__table .order-page-info__action .order-delete:hover {
  cursor: pointer;
  opacity: 0.7;
}
.order-page-info__table .order-page-info__action .order-check {
  background-color: var(--hover-color);
}
.order-page-info__table .order-page-info__action .order-edit {
  background-color: rgb(0, 115, 255);
  color: white;
}
.order-page-info__table .order-page-info__action .order-delete {
  border: none;
  background-color: rgb(229, 87, 85);
  color: white;
}

.user-profile__content {
  padding-left: 12px;
}

.order-page-info__number {
  margin-bottom: 20px;
  font-size: 2rem;
  line-height: 4rem;
  border-top: 1px solid var(--border-color);
  padding: 20px 0;
  margin: 0;
}

.order-page-info__number div:nth-child(1) {
  border-right: 1px solid var(--border-color);
}

.order-page-info__number div {
  text-align: center;
}

.order-page-return {
  margin: 0;
}

.order-page-return a {
  padding: 10px;
}

.order-page-return a:hover {
  background-color: var(--hover-color);
}

.order-page-info__number div span {
  font-weight: 600;
}

.order-page-info__action {
  float: right;
  margin-bottom: 20px;
}

.order-page-info__action div {
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  background-color: var(--hover-color);
}

.order-page-info__action div:hover {
  background-color: var(--hover-color1);
}

.order-page-info__action .order-review {
  background-color: var(--black-color);
  color: white;
}

.order-page-info__action .order-review:hover {
  text-decoration: underline;
  color: black;
}

.order-page-info__table {
  border-collapse: collapse;
}

.order-page-info__table th {
  text-wrap: nowrap;
  background-color: var(--hover-color);
}

.order-page-info__table .order-item__info--data {
  display: flex;
  padding: 10px;
  border-top: none;
  border-right: none;
}
.order-page-info__table .order-item__info--data:last-child {
  border-bottom: none;
}

.order-item--action {
  color: var(--primary-color);
  cursor: pointer;
}

.order-item--action a:hover {
  text-decoration: underline;
}

.order-page-info__total {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: 20px;
  padding: 10px;
}

.order-page-info__total > div {
  width: 30%;
  border-bottom: 1px solid var(--border-color);
}

.order-page-info__total > div > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.order-page-info__item--total {
  font-weight: 600;
}

.order-page-info__tracking {
  margin-top: 20px;
}

.order-page-info__tracking--title {
  font-size: 2rem;
  font-weight: 600;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 10px;
}

.order-page-info__tracking--item div {
  margin-bottom: 10px;
}

/* Order Detail Page */
.order-item--img img {
  width: 50px;
  margin-right: 10px;
}

.order-page-info__tracking--button {
  margin-top: 30px;
  display: grid;
  place-items: center;
  height: 50px;
  min-height: 50px;
  color: var(--white-color);
  border-radius: 20px;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.order-page-info__tracking--button:hover {
  opacity: 0.8;
}
.ad_page-review-product--img img{
  margin-right: 10px;
}
.ad_page-review-product--img img,
.ad_page-review-user--img img{
  width: 50px;
}
.ad_page-review-product--td{
  width: 300px;
  text-align: center;
}
.ad_page-review-product{
  width: 100%;
  display: flex;
  justify-content: center;
}
.ad_page-review-content{
  width: 200px;
  text-align: left;
}
.ad_page-review-star--number i {
  color: #f4d34c;
}
.ad_page-review-user div{
  padding: 10px;
}

.ad_page-review-product--review-star {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 100%;
}

.product-item-data-review_content-score {
  margin-right: 8px;
}

.stars-outer {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  color: #d3d3d3; /* Màu sao chưa đánh giá */
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  color: #f4d34c; /* Màu sao được đánh giá */
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: FontAwesome;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: FontAwesome;
}

/*# sourceMappingURL=admin-page.css.map */
