.over-play {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 8;
    display: none;
}
.category-box {
    background-color: var(--white-color);
    z-index: 11;
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    transform: translateX(-150%);
    transition: transform .3s ease;
}

.category-box.unhide-active{
    transform: translateX(0);
}
.swiper.tab{
    height: auto;
    width: 100%;
    font-size: var(--font-size);
    box-shadow: 0px 5px 6px -6px #999999;
}
.swiper.tab .swiper-slide{
    padding: 10px 0;
    text-align: center;
}
.swiper.tab .swiper-slide:hover{
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    cursor: pointer;
}
.content_body{
    min-height: 900px;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
    color: #ccc;
    font-size: 1.5rem;
  }
  
  /* Định dạng phần ngôi sao đầy */
.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #f4d34c;
    height: 1.5rem;
    line-height: 1.5rem;
}
  
 
.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: FontAwesome;
}
  
.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: FontAwesome;
}
.sort__item-star-number{
    margin-left: 10px;
}

/* filler tool */
.content__title-filter{
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 10px 20px 20px;
}
.content__title-filter--title{
    font-size: 2rem;
    font-weight: 600;
}
.content__title-filter--price-box,
.content__title-filter--color-box,
.content__title-filter--brand-box,
.content__title-filter--size-box{
    position: relative;
}
.content__title-filter--price,
.content__title-filter--color,
.content__title-filter--brand,
.content__title-filter--size{
    padding: 10px;
    border: 1px solid var(--black-color);
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.content__title-filter--price span,
.content__title-filter--color span,
.content__title-filter--brand span,
.content__title-filter--size span{
    margin: 10px;
}

.content__title-filter--price:hover,
.content__title-filter--color:hover,
.content__title-filter--brand:hover,
.content__title-filter--size:hover{
    background-color: var(--hover-color);
}

.content__title-filter--box{
    border: 1px solid var(--black-color);
    position: absolute;
    display: none;
    z-index: 99;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
    white-space: nowrap;
}
.content__title-filter--box.unhide{
    display: block;
}
.content__title-filter--box div{
    padding: 20px 10px;
    font-size: 1.5rem;
}
.content__title-filter--box div:hover{
    cursor: pointer;
    background-color: var(--hover-color);
}
.content__title-filter--box div:not(:nth-last-child(1)){
    border-bottom: 1px solid var(--border-color);
}
.colorList-box{
    display: flex;
    gap: 10px;
    width: 100px;
    flex-wrap: wrap;
    padding: 5px;
}
.colorList-box .filter-color:hover{
    border: 2px solid var(--white-color);
}
.content__title-filter--value{
    padding: 5px;
    text-align: center;
    font-weight: 400;
}

.filter-color-full{
    width: 100%;
    text-align: center;
    padding: 5px 0;
}
.colorList-box:hover{
    background-color: var(--white-color) !important;
}
/* RESPONSIVE  */

/* Tablet and Mobile */
@media (max-width:1023px){
    .container .grid.wide{
        padding: 10px;
    }
    .content__body{
        display: none;
    }
    /* Footer */
    .footer .grid.wide{
        padding: 10px;
    }
    .bar-page{
        padding: 0 20px;
    }
    .header__logo{
        display: none;
    }
    .header__search{
        display: flex;
    }
}
/* Tablet */

@media(min-width :740px) and (max-width :1023px){
    .container .grid .wide{
        padding:10px;
    }
    .container .category__list{
        display: none;
    }
    .content__title{
        padding: 0 20px;
    }
    .sort__item-list{
        margin: 20px 0;
    }
    .sort__item{
        padding: 0;
    }
    .content_body{
        width: 100%;
    }
    
}
/*  mobile */
@media (max-width: 739px) {
    .swiper.tab {
        padding: 0 5px;
        background-color: var(--white-color);
    }
    .sort__item-list{
        margin: 30px 5px;
    }
    .content__title{
        padding:0 20px
    }

    /* Category */
    .container .category__list{
        display: none;
    }
    /* pagination */

    .bar-page_list{
        font-size: 1.5rem;
    }
    .bar-page_list-item{
        padding: 5px 11px;
    }

    /* SORT tab */
    .content__title-sort-selected{
        width: 100px;
    }
    .sort__tab{
        z-index: 2;
    }
}