.container .grid.wide{

}
.profile__category--checked{
    background-color: var(--hover-color);
}
.user-profile__category{
    font-weight: 600;
    font-size: 2rem;
    margin-top: 66px;
}
.user-profile__category li{
    padding: 20px 10px 10px;
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);

}
.user-profile__category li:hover{
    background-color: var(--hover-color);
}
.user-profile__category li i{
    margin-right: 5px;
}

.user-profile__content--title{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin: 10px 0 40px;
}
.profile__content--label{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.user-profile__content--profile{
    margin-left: 12px;
}
.user-profile__content--profile .col>div{
    margin-bottom: 20px;
    padding: 10px;

}
.user-profile__content--email{
    margin-bottom: 20px;
}
.user-profile__content--value-reset{
    padding:10px;
    background-color: var(--primary-color);
    color:white;
    cursor: pointer;
    border-radius: 30px;
    margin-left: 20px;
    border: none;
    font-size: 2rem;
}
.user-profile__content--value-reset:hover{
    background-color: var(--primary-color-hover);
}
input,select{
    padding:10px;
    font-size: 2rem;
}
.profile__content--value{
    padding: 10px;
    font-size: 2rem;
}
.user-profile__content--account,
.user-profile__content--password{
    padding: 10px;
    margin-left: 12px;
}
.user-profile__content--password-form label,
.user-profile__content--password-form input{
    display: block;
}
.user-profile__content--password-form label{
    margin-bottom: 5px;
}
.user-profile__content--password-form input{
    margin-bottom: 15px;
}
.user_password-warning{
    color: var(--primary-color);
    background-color: pink;
    padding: 20px;
}
.user_password-success{
    padding: 20px;
    color: #68895D;
    background-color: #E0F2D8;
    margin-top: 10px;
}
.user-profile__content--avatar button{
    margin: 40px 20px;
}
.user-profile__content--avatar img{
    margin: 20px 0 20px;
    width: 200px;
}
.material-symbols-rounded{
    font-size: 1.5rem;
    color: white;
    background-color: rgb(0, 98, 255);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.user-profile__content--image-value img{
    display: block;
}

/* Favorite Page */
.favorite__item{
    border-bottom: 1px solid var(--border-color);
}
.favorite__item:hover{
    background-color: var(--hover-color);
}
.favorite__item--image {
    padding: 10px 20px;
}
.favorite__item--image img{
    width: 100%;
}
.favorite__item--delete{
    display: flex;
    align-items: center;
    justify-content: center;
}
.favorite__item--info{
    padding: 10px 0;
}
.favorite__item--info>div{
    margin-bottom: 10px;
}
.favorite__item--info-name,.favorite__item--info-brand{
    font-weight: 600;
    font-size: 1.5rem;
}
.favorite__item--info-name span,.favorite__item--info-brand span{
    font-weight: 500;
}
.favorite__item--info-name{
    
}
.favorite__item--info-number{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.favorite__item--info-price{
    font-size: 2rem;
    color: var(--primary-color);
}
.favorite__item--info-stock{
    font-size: 2rem;
}
.favorite__item--delete a{
    background-color: rgb(229, 87, 85);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
/* Favorite Page */
.cart__item{
    border-bottom: 1px solid var(--border-color);
}
.cart__item:hover{
    background-color: var(--hover-color);
}
.cart__item--image {
    padding: 10px 20px;
}
.cart__item--image img{
    width: 100%;
}
.cart__item--delete{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart__item--info{
    padding: 10px 0;
    font-weight: 600;
}
.cart__item--info span{
    font-weight: 400;
}
.cart__item--info>div{
    margin-bottom: 10px;
}
.cart__item--info-name,.cart__item--info-brand{
    font-weight: 600;
    font-size: 1.5rem;
}
.cart__item--info-name span,.cart__item--info-brand span{
    font-weight: 500;
}
.cart__item--info-name{
    
}
.cart__item--info-number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.cart__item--info-price{
    font-size: 2rem;
    color: var(--primary-color);
}
.cart__item--info-stock{
    font-size: 2rem;
}
.cart__item--delete a{
    background-color: rgb(229, 87, 85);
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.cart__item--info-quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart__item--info-quantity-down,
.cart__item--info-quantity-up{
    padding:4px 10px 6px;
    width: 30px;
    background-color: var(--hover-color);
    cursor: pointer;
    border: 1px solid var(--border-color);
    &:hover{
        background-color: var(--hover-color1);
    }
}


.cart__item--info-quantity-num{
    padding:4px 8px 6px ;
    border: 1px solid var(--border-color);
}
.cart-empty-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cart-empty-box img{
    width: 200px;
}


/* Order Page */
table{
    width: 100%;
}
.order-list__item{
    border-collapse: collapse;
}
.order-list__item th{
    background-color: var(--hover-color);
    text-wrap: nowrap;
}
.order-list__item tr,th,td{
    border: 1px solid var(--border-color);
    text-align: center;
}
.order-list__item td,th{
    padding: 10px;
}
.order-item--img img{
    width: 100px;
}


.order-list__item--data{
    display: inline-flex;
    border:none;
}
.order-item--data{
    display: flex;
    border: none;
}
.order-item--info{
    padding: 10px;
    text-align: left;
}
.order-item--info div{
    margin-bottom: 10px;
}
.order-item--return a:hover,
.order-item--repurchase a:hover{
    text-decoration: underline;
}
.order-item--review{
    background-color: var(--black-color);
    color: white;
    padding: 5px 10px;
}
.order-item--review:hover{
    text-decoration: underline;
}
.order-info{
    cursor: pointer;
}
.order-item--status-info div{
    text-wrap: nowrap;
    padding: 5px;
}
.order-info{
    color: var(--primary-color);
}
.order-info:hover{
    text-decoration: underline;
}

/* user Order Detail Page */
.user-profile__content{
    padding-left: 12px;
}
.order-page-info__number{
    margin-bottom: 20px;
    font-size: 2rem;
    line-height: 4rem;
    border-top: 1px solid var(--border-color);
    padding:20px 0;
    margin: 0;
}
.order-page-info__number div:nth-child(1){
    border-right: 1px solid var(--border-color);
}
.order-page-info__number div{
   text-align: center;
}
.order-page-return{
    margin: 0;
}
.order-page-return a{
    padding:10px;
}
.order-page-return a:hover{
    background-color: var(--hover-color);
}
.order-page-info__number div span{
    font-weight: 600;
}
.order-page-info__action{
    float: right;
    margin-bottom: 20px;
}
.order-page-info__action div{
    padding:10px;
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid var(--black-color);
    background-color: var(--hover-color);
}
.order-page-info__action div:hover{
    background-color: var(--hover-color1);
}
.order-page-info__action .order-review{
    background-color: var(--black-color);
    color: white;
}
.order-page-info__action .order-review:hover{
    text-decoration: underline;
    color: black;
}
.order-page-info__table{
    border-collapse: collapse;
}
.order-page-info__table th{
    text-wrap: nowrap;
    background-color: var(--hover-color);
}
.order-page-info__table .order-item__info--data{
    display: flex;
    padding: 10px;
    border-top: none;
    border-right: none;
}
.order-item--action{
    color: var(--primary-color);
    cursor: pointer;
}
.order-item--action a:hover{
    text-decoration: underline;
}
.order-page-info__total{
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 20px;
    padding: 10px;
}
.order-page-info__total>div{
    width: 30%;
    border-bottom: 1px solid var(--border-color);
}
.order-page-info__total>div>div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
.order-page-info__item--total{
    font-weight: 600;
}
.order-page-info__tracking{
    margin-top: 20px;
}
.order-page-info__tracking--title{
    font-size: 2rem;
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 10px;
}
.order-page-info__tracking--item div{
    margin-bottom: 10px;

}

/* Order Detail Page */
.order-remove{
    margin-top: 10px;
    cursor: pointer;
}

.user-profile__order-tracking--section-title{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}
.user-profile__order-tracking--number{
    background-color: var(--primary-color-hover);
    color: var(--white-color);
    padding: 20px;

}
.user-profile__order-tracking--number span{
    font-size: 2rem;
    font-weight: 600;
}
.user-profile__order-tracking--icon{
    padding:20px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    gap: 10px;
}
.user-profile__order-tracking--icon-orderCompleted{
    display: flex;
    align-items: center;
    gap: 10px;
}
.user-profile__order-tracking--icon-orderCompleted.available{
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
}
.icon-chain.available{
    width: 50px;
    height: 5px;
    background-color: var(--primary-color);
    border-radius: 10px;
}
.icon-chain{
    width: 50px;
    background-color: var(--hover-color);
    height: 5px;
    border-radius: 10px;
}
.user-profile__order-tracking--date{
    padding: 20px;
    border: 1px solid var(--border-color);
    border-top: none;
}
.user-profile__order-tracking--infor{
    border: 1px solid var(--border-color);
    padding: 20px 0;
}
.user-profile__order-tracking--infor-title{
    margin:0 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}
.user-profile__order-tracking--info-content{
    padding: 20px;
}

