.container .grid.wide{

}
.profile__category--checked{
    background-color: var(--hover-color);
}
.user-profile__category{
    font-weight: 600;
    font-size: 2rem;
}
.user-profile__category li{
    padding: 20px 10px 10px;
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);

}
.user-profile__category li:hover{
    background-color: var(--hover-color);
}
.user-profile__category li i{
    margin-right: 5px;
}

.user-profile__content--title{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin: 10px 0 40px;
}
.profile__content--label{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.user-profile__content--profile .col>div{
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
}
.user-profile__content--avatar img{
    width: 200px;
}
.user-profile__content--email{
    margin-bottom: 20px;
}
.user-profile__content--value-reset{
    padding:10px;
    background-color: var(--primary-color);
    color:white;
    cursor: pointer;
    border-radius: 30%;
    margin-left: 20px;
    border: none;
    font-size: 2rem;
}
.user-profile__content--value-reset:hover{
    background-color: var(--primary-color-hover);
}
input,select{
    padding:10px;
    font-size: 2rem;
}
.profile__content--value{
    padding: 10px;
    font-size: 2rem;
}
.user-profile__content--account{
    padding: 10px;
}