<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/grid.css">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/login-signup-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d72dd2144a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./style/responsive.css">
    <title>【パスワードの再設定】メールアドレス-TS-shop</title>
</head>
<body>
    <header class="header header-only">
        <div class="grid wide">
            <a href="/" class="header__logo"><img src="/image/logo.png" alt="logo" class="logo-img"></a>
        </div> 
    </header>

    <div class="container">
        <div class="grid wide">
            <div class="reset-container">
                <div class="reset-form">
                    <form action="/reset-password/<%=userId %>" method="post" id="reset-form">
                        <input type="hidden" value="<%=token %>" name="token">
                        <div class="row">  
                            <p class="reset-form-title">パスワードの再設定</p>
                        </div>
                        <p style="margin-bottom: 40px;">登録しているメールアドレスを入力してください。<br>
                            パスワード再設定のため認証メールを送信します。</p>
                        <div class="reset-container-main">
                            <div class="reset-id-box input-group">
                                <label for="reset-id" class="reset-id">新しいパスワード</label>
                                <input type="password" class="reset-form-input reset-form-input_userid" name="user_newpass" id="reset-id">
                                <span class="pass-hide hidden">表示</span>
                                <span class="form-message"></span>
                            </div>
                            
                            <div class="reset-mail-box input-group">
                                <label for="reset-mail" class="reset-mail">確認用パスワード</label>
                                <input type="password" id="reset-mail"class="reset-form-input reset-form-input_email" name="user_newpassconfi">
                                <span class="pass-hide hidden">表示</span>
                                <span class="form-message"></span>
                            </div>
                            <div class="reset-form-error">
                                <%= error_msg.length > 0 ? error_msg :''%>
                            </div>
                            <div class="reset-form-button-box">
                                <button class="reset-form-button primary-btn" type="submit">パスワードを更新</button>
                            </div>
                        </div>
                    </form>               
                </div>
    
            </div>

        </div>
    </div>

<!-- Footer Start -->
<%- include('./includes/footer.ejs') %>
<!-- Footer End -->
<script>
    const $ = document.querySelector.bind(document);
    const $$ = document.querySelectorAll.bind(document);

    var input_userid = $('.reset-form-input_userid')
    var input_email = $('.reset-form-input_email')

    const ID_label = $('.reset-id')
    const Mail_label = $('.reset-mail')



    document.body.onload = function(){
        if (input_email.value !== '') {
            Mail_label.classList.add('labelMove_focus');
            Mail_label.classList.remove('labelMove_blur');
        }
        if (input_userid.value !== '') {
            ID_label.classList.add('labelMove_focus');
            ID_label.classList.remove('labelMove_blur');
        } 
    }

    var labelid_focus = function(){
        ID_label.classList.add('labelMove_focus')
        ID_label.classList.remove('labelMove_blur')
    }

    var labelid_blur = function(){
    if (input_userid.value === '') {
        ID_label.classList.remove('labelMove_focus');
        ID_label.classList.add('labelMove_blur');
    }
    }

    var labelpass_focus = function(){
        Mail_label.classList.add('labelMove_focus')
        Mail_label.classList.remove('labelMove_blur')
    }

    var labelpass_blur = function(){
    if (input_email.value === '') {
        Mail_label.classList.remove('labelMove_focus');
        Mail_label.classList.add('labelMove_blur');
    }
    }
    input_userid.onchange = labelid_focus
    input_userid.onfocus = labelid_focus
    input_userid.onblur = labelid_blur

    input_email.onchange = labelpass_focus
    input_email.onfocus = labelpass_focus
    input_email.onblur = labelpass_blur
    const form = document.getElementById('reset-form');
    form.addEventListener('submit', (event) => {
        const password = document.getElementById('reset-id').value;
        const confirmPassword = document.getElementById('reset-mail').value;

        if (password !== confirmPassword) {
            event.preventDefault(); // Ngăn form gửi
            const errorBox = document.querySelector('.reset-form-error');
            errorBox.innerHTML = '<p style="color: red;">パスワード確認が間違っています。</p>';
        }
    });

    document.querySelectorAll('.pass-hide').forEach(
        passHideBtn =>{
            passHideBtn.onclick = function(){
        let passInput = this.closest('.input-group').querySelector('.reset-form-input')
        if(this.classList.contains('hidden')){
            passInput.type='text'
            this.classList.remove('hidden');
            this.classList.add('visible');
            this.innerHTML = '非表示';
        }else{
            passInput.type='password'
            this.classList.remove('visible');
            this.classList.add('hidden');
            this.innerHTML = '表示';

            }
        }})
    
</script>
</body>
</html>