<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/base.css">
    <link rel="stylesheet" href="./style/grid.css">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="./style/login-signup-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d72dd2144a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./style/responsive.css">
    <title>ログイン-TS-shop</title>
</head>
<body>
    <header class="header header-only">
        <div class="grid wide">
            <a href="/" class="header__logo"><img src="./image/logo.png" alt="logo" class="logo-img"></a>
        </div> 
    </header>

    <div class="container">
        <div class="grid wide">
            <div class="login-container">
                <div class="login-form">
                    <form class="form" id="signup-form" method="post">
                        <div class="row">  
                            <p class="login-form-title">新規会員登録</p>
                        </div>
                        <div class="row signup-error" style="text-align: center; color: var(--error-color);margin-left: 30px;">
                            <%= error_msg ? error_msg :'' %>
                        </div>
                        <div class="row">
                            <div class="signup-container-main">

                                <div class="form-group row">
                                    <div class="col l-4 c-4">
                                        <label for="user_sex" class="signup-sex-label">性別</label>
                                    </div>
                                    <div class="col l-8 c-8">
                                        <div class="signup-sex-content">
                                            <div class="signup-form">
                                                <input type="radio" name="user_sex" id="female" value="female">
                                                <label for="female">女性</label>
                                            </div>
                                            <div class="signup-form">
                                                <input type="radio" name="user_sex" id="male" value="male">
                                                <label for="male">男性</label>
                                            </div>
                                        </div>
                                        <span class="form-message"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col l-4 c-12">
                                        <label for="signup-born-year" class="signup-born-year">生年月日</label>
                                        <span class="required_label">必須</span>
                                    </div>
                                    <div class="col l-8 c-12">
                                        <div class="signup-born-year_input">
                                            <div class="signup-born-year_content">
                                                <select id="signup-born-year" class="signup-born-year-select" name="user_birth_year">
                                                <option value="">-</option>
                                                </select>
                                                <label for="signup-born-year" class="signup-born-year-label">年</label>
                                            </div>
    
                                            <div class="signup-born-year_content">
                                                <select id="signup-born-month" class="signup-born-month-select" name="user_birth_month">
                                                <option value="">-</option>
                                                </select>
                                                <label for="signup-born-month" class="signup-born-year-label">月</label>
                                            </div>
                                            <div class="signup-born-year_content">
                                                <select id="signup-born-day" class="signup-born-day-select" name="user_birth_day">
                                                <option value="">-</option>
                                                </select>
                                                <label for="signup-born-day" class="signup-born-year-label">日</label>
                                            </div>  
                                        </div>
                                        <span class="form-message"></span>
                                    </div>
                                    
                                    

                                    
                                </div>

                                <div class="form-group row">
                                    <div class="col l-4 c-12">
                                        <label for="signup-id" class="form-label">ユーザー名</label>
                                        <span class="required_label">必須</span>
                                    </div>
                                    <div class="col l-8 c-12">
                                        <input type="text" id="signup-id" class="signup-input signup-input-id" name="user_name">
                                        <span class="form-message"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col l-4 c-12">
                                        <label for="signup-email" class="form-label">メールアドレス</label>
                                        <span class="required_label">必須</span>
                                    </div>
                                    <div class="col l-8 c-12">
                                        <input type="text" id="signup-email" class="signup-input signup-input-id" name="user_email">
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col l-4 c-12">
                                        <label for="signup-password" class="form-label">パスワード</label>
                                        <span class="required_label">必須</span>
                                    </div>
                                    <div class="col l-8 c-12 signup-password-input">
                                        <input id ="signup-password" type="password" class="signup-input signup-input-pass" name="user_password">
                                        <span class="pass-hide hidden">表示</span>
                                        <span class="form-message"></span>
                                    </div>
                                    
                                </div>

                                <div class="form-group row">
                                    <div class="col l-4 c-12">
                                        <label for="signup-password_confi" class="signup-password">パスワード(確認用)</label>
                                        <span class="required_label">必須</span>
                                    </div>
                                    <div class="col l-8 c-12 signup-password-input">
                                        <input id ="signup-password_confi" type="password" class="signup-input signup-input-pass" name="signup-password-confi">
                                        <span class="pass-hide hidden">表示</span>
                                        <span class="form-message"></span>
                                    </div>
                                    
                                </div>
                                <div class="form-group row" style="justify-content: center; border-bottom:none;">
                                    <div class="signup-agreement-box">
                                        <label for="signup-agreement" class="signup-agreement-content-input">
                                            <input type="checkbox" name="signup-agreement-check" id="signup-agreement">
                                            <div class="signup-agreement-content-input-box">
                                                <div class="signup-agreement-content-input-boxcheck"></div>
                                                <i class="fa-solid fa-check"></i>
                                            </div>
                                            
                                        </label>
                                        
                                        <div class="signup-agreement-input-box">
                                            <a class="agreement">利用規約</a>と<a class="privacy">プライバシーポリシー</a>に同意する
                                        </div>
                                    </div>
                                    <p class="form-message signup-agreement-errorcontent"></p>
                                </div>
                                <div class="login-form-button-box">
                                    <button class="login-form-button" type="submit">この内容で新規会員登録する</button>
                                </div>
                            </div>
                        </div>
                    </form>               
                </div>
                
            </div>

            <div class="regist-container">
                <div class="regist-container_text">すでに会員の方</div>
                <a href="/login" class="regist-container_button">ログイン</a>
            </div>
        </div>
    </div>

<!-- Footer Start -->
<%- include('./includes/footer.ejs') %>
<!-- Footer End -->
<div class="agreement-container">
    <div class="agreement-container-content">
        <div class="agreement-title">
            <h1>利用規約</h1>
            <div class="agreement-container-close"><i class="fa-solid fa-xmark"></i></div>
        </div>
    </div>
</div>

<div class="privacy-container">
    <div class="privacy-container-content">
        <div class="privacy-title">
            <h1>プライバシーポリシー</h1>
            <div class="privacy-container-close"><i class="fa-solid fa-xmark"></i></div>
        </div>
    </div>
</div>
<script src="./script/script-signup.js"></script>
<script>

    Validator({
        form:'#signup-form',
        formGroupSelector:'.form-group',
        errorSelector:'.form-message',
        rules:[
            Validator.isRequired('input[name="user_sex"]','性別を選択してください。'),

            Validator.isRequired('#signup-born-year','誕生日の入力が必要です。'),
            Validator.isRequired('#signup-born-month','誕生日の入力が必要です。'),
            Validator.isRequired('#signup-born-day','誕生日の入力が必要です。'),

            Validator.isRequired('#signup-id','ユーザー名を入力してください。'),

            Validator.isRequired('#signup-email','メールアドレスを入力してください。'),
            Validator.isEmail('#signup-email','正しいメールアドレスを入力してください。'),

            Validator.isRequired('#signup-password','パスワードを入力してください。'),
            Validator.minLength('#signup-password',6,20),

            Validator.isRequired('#signup-password_confi','確認パスワードを入力してください。'),
            Validator.isConfirmed('#signup-password_confi',
            function (){
                return document.querySelector('#signup-form #signup-password').value;
            },'確認パスワードが一致しません。'),

            Validator.isRequired('#signup-agreement','利用規約とプライバシーポリシーに同意してください。')

        ],
        onSubmit: async function(data) {
            // const formData = new FormData(form);
            const loginContainer = $('.login-container');
            // const data = Object.fromEntries(formData.entries());
            try {
                const response = await fetch('/signup/user', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(data),
                });

                const result = await response.json();  // Parse JSON response

                if (response.ok) {
                    if (result.message === 'メール送信成功') {
                        loginContainer.innerHTML = `
                            <div class="row email-varial-send">
                                <p class="login-form-title">メールアドレス認証</p>
                                <p><span style="color:var(--primary-color)">${data.user_email}</span>宛に変更確認メールを送信しました。</p>
                                <p>メールに記載されたURLをクリックして、通知先メールアドレス</p>
                                <p>の変更手続きを完了させてください。</p>
                            </div>
                        `;
                    }
                } else {
                    alert(result.message);  // Hiển thị thông báo lỗi từ server
                }
            } catch (error) {
                console.error('Lỗi gửi form:', error);
                alert("送信中にエラーが発生しました。");
            }

        }
    });

</script>
</body>
</html>