<!DOCTYPE html>
S<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/grid.css">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d72dd2144a.js" crossorigin="anonymous"></script>  
    <link rel="stylesheet" href="/style/responsive.css">
    <link rel="stylesheet" href="/style/admin/admin-page.css">
    <title>Admin-page</title>
    <script>
        const list_items = JSON.parse('<%- JSON.stringify(items) %>');
    </script>
    <script src="/script/admin/category_admin.js" defer></script>
</head>

<body>
    <header class="header header-only">
        <div class="grid wide">
            <a href="/" class="header__logo"><img src="/image/logo.png" alt="logo" class="logo-img"></a>
        </div> 
    </header>
    <div class="container_ad">
        <div class="grid wide">
            <div class="row">
                <div class="col l-2 ad_page-category">
                    <% users.forEach(user => { %>
                        <% if(user.user_role == 'admin'){ %>
                    <div class="ad_category-img"><img src="/image/user-image/<%=user.user_img %>" alt="user-image"></div>
                    <div class="ad_category-name"><%=user.user_name %></div>
                        <% } %>
                    <% }) %>
                    <ul class="ad_page-category-content">
                        <li class="ad_category"><a href="http://">カテゴリー</a></li>
                        <li class="ad_item ad-checked"><a href="/admin-page">製品</a></li>
                        <li class="ad_order"><a href="http://">注文</a></li>
                        <li class="ad_cutomer"><a href="/admin-users">顧客</a></li>
                        <li class="ad_review"><a href="http://">レビュー</a></li>
                    </ul>
                </div>
                <div class="col l-10 ad_page-content">
                    <div class="row">
                        <div class="content-title">
                            <a href="#" class="ad-content-title-checked">製品</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item-total">
                            総数量:
                            <div class="number"><%=items.length %></div>
                        </div>
                    </div>
                    <div class="row">
                        <table class="list-items">
                        </table>
                        <div class="bar-page">
                            <div class="bar-page_list">
                                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="warning-delete-box-background">
        <div class="warning-delete-box">
        </div>
    </div>
    </div>
    
<script> 
const $ = document.querySelector.bind(document);
    const $$ = document.querySelectorAll.bind(document);
    
    
    //HEADER TAB HIDE //
    let lastScrollTop = 0;
    const header = $('.header');
    const headerHeight = header.clientHeight; // Chiều cao của header
    const scrollThreshold = headerHeight; // Giá trị ngưỡng cuộn
    const headerSearch = $('.header__search')
    
    if (window.innerWidth > 1023) {
        window.addEventListener('scroll', function () {
            const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    
            if (scrollTop > lastScrollTop && scrollTop > scrollThreshold) {
                // Cuộn xuống và vượt ngưỡng
                header.style.transform = 'translateY(-100%)';
            } else {
                // Cuộn lên hoặc chưa vượt ngưỡng
                header.style.transform = 'translateY(0)';
            }
    
            lastScrollTop = scrollTop;
        });
    }
    if (window.innerWidth < 1023) {
        window.addEventListener('scroll', function () {
            const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    
            if (scrollTop > lastScrollTop && scrollTop > scrollThreshold) {
                headerSearch.style.display = 'flex'
                $('.header__logo').style.display = 'none'
            } else {
                headerSearch.style.display = 'none'
                $('.header__logo').style.display = 'block'
            }
        });
    }
</script>
</body>
</html>